<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/date_modal.css">

</head>
<body>
    

    <div id="modal">
        <div><!-- 상단 -->
            <div> 
                <h2 class="date_title">날짜선택</h2>
            </div>

            <div class="date_day">
                <table>
                    <tr>
                        <td class="date_day_td">일</td>
                        <td class="date_day_td">월</td>
                        <td class="date_day_td">화</td>
                        <td class="date_day_td">수</td>
                        <td class="date_day_td">목</td>
                        <td class="date_day_td">금</td>
                        <td class="date_day_td">토</td>
                    </tr>
                </table>
            </div>

            <div>
                <div class="year">
                    <span>2023
                        <span>8월</span>
                    </span>
                </div>  

                <div>
                    
                </div>

            </div>

        </div>
        



    </div>

</body>
</html>