<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/map.css">

    <!-- <script type="text/javascript">    
        
		var isNoHeaderAgent = 'false';
		if(isNoHeaderAgent=="true") {
			function setHeight(){
				var body = document.body, html = document.documentElement;
				var height = Math.max(body.scrollHeight, body.offsetHeight,
					html.clientHeight, html.scrollHeight, html.offsetHeight);
				parent.postMessage({ "FrameHeight": height }, "*");
			}	
			window.onload =setHeight();
			setInterval(setHeight, 500);
		}
	
    </script> -->

</head>
<body>
    
    <div> <!-- 큰 박스 -->
        <div class="map_sel">
            <span>출발/도착 도시 선택</span>
        </div>

        <div class="depart"> <!-- 출발도시 큰 박스 -->
            <div class="depart_title">
                <h3>출발도시</h3>
            </div>

            <div class="depart_box">
                <ul class="depart_sel">
                    <li>
                        <a href="">
                            <span>김포</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>군산</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>광주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>대구</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>부산</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>여수</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>인천</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>원주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>울산</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>제주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>진주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>청주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>포항</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>무안</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>양양</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="arrive"> <!-- 도착도시 큰 박스 -->
            <div class="arrive_title">
                <h3>도착도시</h3>
            </div>

            <div class="arrive_box">
                <ul class="arrive_sel">
                    <li >
                        <a href="">
                            <span>김포</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>군산</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>광주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>대구</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>부산</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>여수</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>인천</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>원주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>울산</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>제주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>진주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>청주</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>포항</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>무안</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>양양</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="check"> <!-- 확인 박스 -->
            <a href="">
                <span>확인</span>
            </a>
        </div>

    </div>


</body>
</html>