@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
}

*{ padding: 0; margin: 0; }
ul, li { list-style: none; } 
*{ margin: 0 auto; }

body{ font-family: 'Noto Sans KR', sans-serif;}

.header {
    width: 100%;
    height: 50px;
    /* background-color: rgb(88, 166, 255); */
    /* background-image: linear-gradient(to bottom, rgb(55, 145, 248), white); */
}

.header_title > h3 {
    
    text-align: center;
    color: rgb(0, 1, 85);
    float: left;
    padding-left: 15px;
    padding-top: 20px;    
    margin-bottom: 0;
}
.header_menu{
    float: right;   
    /* position: absolute; */
    bottom: 0.3rem;
    right: 1rem;
    pointer-events: auto;
    box-sizing: border-box;
}
.menu{
    display: block;
    overflow: hidden;
    width: 4.4rem;
    height: 4.4rem;
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 1, 85);
    font-weight: 700;
    /* background-color: white; */
    background: url(/img/drawer-trigger.svg) center center/44px 44px no-repeat;
    background-size: 40px 40px;
}
.content{
    /* margin-left: 20px; */
    box-sizing: border-box;
    position: relative;
}

.category {
    /* position: absolute; */
    /* display: flex; */
    /* display: list-item; */
    /* display: block; */
    /* margin: 20px; */
    width: 100%;
    height: 100%;
    /* padding: 0 15px 30px 15px; */
    /* padding-right: 20px; */
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    /* background-color: aliceblue; */
}

.bg{
    width: 100%; 
    height: 100%;   
    display: block;
    position: absolute;
    z-index: -1;
    object-fit: cover; /* 배경 이미지가 요소를 커버하도록 설정 */
}

.cate {
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
}

.icon_img > img{
    display: block;
    background-image: no-repeat center 15px;
    background-size: auto 65px;
    height: 55px;
}


.cate_ul{    
    display: flex;    
    list-style: none;
    /* margin: 20px; */
    box-sizing: border-box;
    
    /* overflow: hidden; */
    /* width: 50%; */
}
.cate_ul > li {    
    margin-bottom: 20px;    
    width: 100%;
    height: 100px;
    box-sizing: border-box;  
    position: relative;
    z-index: 1;  
     
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.left{
    display: flex; 
    float: left; 
    margin-right: 30px;    
    box-sizing: border-box; 
    overflow: hidden;   
    padding-top: 10px;
}

.left > h4 {
    /* font-size: 13px; */
    text-align: center;
    padding-top: 65px;
    /* padding-bottom: 10px; */
    /* vertical-align: bottom; */
}
.right{
    display: flex; 
    float: right;
    padding-top: 10px;
    margin-right: 20px;
    box-sizing: border-box; 
    overflow: hidden;  
}

.fas{
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
    align-items: center;
    color: rgb(7, 77, 138);
    margin-bottom: 10px;
}
.right > h4 {
    font-size: 13px;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 10px;
    /* vertical-align: bottom; */
}
a {
    color: rgb(8, 7, 90);
    font-weight: 700;
    text-decoration: none;
   
}
li:last-child {
    margin-right: 0; /* 마지막 리스트 아이템의 간격 제거 */
}


.itemImg {
    width: 700px;
    height: 100%;
}
/* margin-top: 20px; */
.notice_box { position:relative; margin-top: 40px;  margin-bottom: 10px;} 
.swiper{ position: absolute; }
.notice_txt { font-size: 15px; font-weight: 700;}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    /*  display: none; */
   /*  background-color: #fff;
    opacity: 0.5; */
    /* border-radius: 20px; */
    padding: 15px 5px;
    color: rgb(112, 112, 112) /* !important; */
}
.swiper-button-prev {
   /*  border: 2px solid white; 눌렀을 때 테두리 화이트*/
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    outline-color: white;
    /* position: absolute; */
}
.swiper-button-next {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
 /*    margin-right: 85px; */
    /* position: absolute; */
}

.footer{
    width: 100%;
    height: 230px;
    background-color: rgb(232, 238, 248);
}


.bottom-wrap{
    width: 100%;
    padding: 26px;
}
.bottom_title { 
    font-weight: 700;
}
.bottom_txt {
    margin-top: 10px;
    font-size: 13px;
    line-height: 22px;
}