<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team04.air.mapper.PassengerMapper">

	<insert id="getInfo" >

		insert into member 
		values(
		'#{lastName}',
		'#{firstName}',
		'#{id}',
		'#{password}',
		'#{phoneNum}',
		'#{email}',
		'#{gender}'
		)
				
	</insert>
	
</mapper>