<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../css/index.css" >
  <link rel="stylesheet" href="../css/login.css" >
  <script src="../js/jquery-1.12.1.min.js"></script>

</head>
<body>
	<div id="container">


		<!-- bodytext_area -->
		<div class="bodytext_area box_inner">
            <div class="titlebox">
                판매자 회원가입
            </div>

			<form action="#" class="appForm" >
				<fieldset>
					<legend>상담문의 입력 양식</legend>
					<p class="info_pilsoo pilsoo_item">필수입력</p>
					<ul class="app_list">
						<li class="clear">
                            <label for="email_lbl" class="tit_lbl pilsoo_item">아이디</label>
                            <div class="app_content email_area">
                                <input type="text" class="w160" id="email_lbl" title="아이디" placeholder="아이디" />
								<input type="hidden" class="w160" id="auth" value="#######" />
								<span class="valid">메시지영역</span>
                            </div>
						</li>
						<li class="clear">
							<label for="name_lbl" class="tit_lbl pilsoo_item">이름</label>
							<div class="app_content">
								<input type="text" class="w160p" id="name_lbl" placeholder="이름을 입력해주세요"/>
								<span class="valid">메시지영역</span>
							</div>
						</li>
						<li class="clear">
							<label for="pwd_lbl" class="tit_lbl pilsoo_item">비밀번호</label>
							<div class="app_content">
								<input type="password" class="w100p" id="pwd_lbl" placeholder="비밀번호를 입력해주세요"/>
								<span class="valid">메시지영역</span>
							
							</div>
						</li>
						<li class="clear">
							<label for="pwd2_lbl" class="tit_lbl pilsoo_item">비밀번호 확인</label>
							<div class="app_content">
								<input type="password" class="w100p" id="pwd2_lbl" placeholder="비밀번호를 다시 한번 입력해주세요"/>
								<span class="valid">메시지영역</span>
							
							</div>
						</li>
						<!-- 
						<li class="clear">
							<label for="phone_lbl" class="tit_lbl pilsoo_item">연락처</label>
							<div class="app_content" >
								<input type="tel" class="w100p" id="phone_lbl" placeholder="휴대폰”-”없이 숫자만 입력하세요"/>
							</div>
						</li>
						 -->
						<li class="clear">
							<label for="phone_lbl" class="tit_lbl pilsoo_item">연락처</label>
							<div class="app_content" style="overflow: hidden;">
								<input type="tel" class="left" id="phone_lbl" placeholder="휴대폰”-”없이 숫자만 입력하세요"/>
								<button type="button" class="apiBtn left" >API본인인증</button>
								<span class="valid">메시지영역</span>
							</div>
							
						</li>

						<li class="clear">
                            <span class="tit_lbl">SNS 활용동의</span>
							<div class="app_content checkbox_area">
								<input type="radio" class="css-checkbox" name="####" id="agree_1" checked><label for="agree_1">동의함(필수)</label>
								<input type="radio" class="css-checkbox" name="####" id="agree_2" ><label for="agree_2">동의하지않음</label>
							</div>
						</li>
                        <li>
                            <button type="button" class="loginBtn" >회원가입</button>
                            
                        </li>

					</ul>
                    <div class="findInfo">
                        <ul>
                          <li class="left">
                            <a href="#">아이디찾기</a>
                            <a href="#">비밀번호찾기</a>
                          </li>
                          <li class="right">
                            <a href="#">로그인</a>
                          </li>
                        </ul>
                      </div>
				</fieldset>
			</form>
			<!-- //appForm -->
		</div>
		<!-- //bodytext_area -->

	</div>
	<!-- //container -->

	<script>
		$("#phone_lbl").focusout(function(e) {
			var result = $("#phone_lbl").val().replaceAll("-", "");
			$("#phone_lbl").val(result);
		})

		//회원가입버튼
		$(".loginBtn").click(function(e) {
			if( $("#auth").val() != 'true' ) {
				return;
			} else {
				$(".appForm").submit();

			}

		})

	</script>

</body>
</html>