<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:replace="~{./include/basicLayout :: setContent( ~{:: .wrap} ) }">
	<div class="wrap">
		<div class="warp_inner">

			<!-- left_menu end -->
			<div class="right_content">
				<div class="midiaq">
					<div class="mainWrapper">
						<div class="ipssGiudeBlock">
							<span>판매자매니저가 더 쉽고 편하게 개편되었습니다.</span>
						</div>
					</div>
					<div class="mainWrapper">
                        <div class="currentStatusBlock">
                            <div class="statusBoard">
                                <div class="section">
                                    <a href="#">
                                        <h3>주문확인지연</h3>
                                        <span>0</span>
                                    </a>
                                </div>
                                <div class="section">
                                    <a href="#">
                                        <h3>발송처리지연</h3>
                                        <span>0</span>
                                    </a>
                                </div>
								<div class="section">
                                    <a href="#">
                                        <h3>취소지연</h3>
                                        <span>0</span>
                                    </a>
                                </div>
								<div class="section">
                                    <a href="#">
                                        <h3>반품지연</h3>
                                        <span>0</span>
                                    </a>
                                </div>
								<div class="section">
                                    <a href="#">
                                        <h3>교환지연</h3>
                                        <span>0</span>
                                    </a>
                                </div>
								<div class="section">
                                    <a href="#">
                                        <h3>교환반품</h3>
                                        <span>0</span>
                                    </a>
                                </div>
								
							</div>
                        </div>
					</div>
					<div class="mainWrapper">
						<div class="mBlockWrap col1 sales"> 
							<div class="mainBlock">
								<div class="mTitle">
									<h2>판매현황</h2>
								</div>
								<div class="mContent">
									<div class="statusBox">

										<dl>
											<a href="#"><dt>입금대기</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>입금대기</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>입금대기</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>입금대기</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>입금대기</dt></a>
											<dd>0</dd>
										</dl>
									</div>
									<div class="statusBox">

										<dl>
											<a href="#"><dt>배송중</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>배송완료</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>구매확정</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>보류중</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>....</dt></a>
											<dd>0</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
						<div class="mBlockWrap col2 sales"> 
							<div class="mainBlock">
								<div class="mTitle">
									<h2>상품현황</h2>
								</div>
								
								<div class="mContent">
									<div class="statusBox">

										<dl>
											<a href="#"><dt>판매중상품</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>판매종료상품</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>판매가능상품</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>판매종료예정</dt></a>
											<dd>0</dd>
										</dl>
										
									</div>
									<div class="statusBox">

										<dl>
											<a href="#"><dt>...</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>...</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>...</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>...</dt></a>
											<dd>0</dd>
										</dl>
										<dl>
											<a href="#"><dt>....</dt></a>
											<dd>0</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
						<div class="mBlockWrap col3 sales"> 
							<div class="mainBlock">
								<div class="mTitle">
									<h2>공지사항</h2>
								</div>
								<div class="mContent">
									<div class="statusBox">
										<ul>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="mBlockWrap col3 sales"> 
							<div class="mainBlock">
								<div class="mTitle">
									<h2>문의현황</h2>
								</div>
								<div class="mContent">
									<div class="statusBox">
										<ul>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>
											<li>
												<a href="#">
												<span class="tag_point">일반</span>
												<span class="txt">[오픈공지] 판매자 스토어 서비스 오픈 안내 (11/9)</span>
												</a>
												<span class="date">20.10.10</span>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	</th:block>
	
</html>