<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>국내항공</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="/src/main/resources/static/css/inair.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css">


    <link rel="stylesheet" href="css/swiper.css">
    <script src="js/swiper.js"></script>
    <script src="js/jquery.js"></script>

    <!-- js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


    <script>
        $(document).ready(function() {
            $(".way_txt > .m").click( function() {
                $(event.currentTarget).addClass("on");  
                // $(event.currentTarget).find(".menu").show(); 
                $(event.currentTarget).find(".return").show();             
            })
        })

        $(document).ready(function(){
            $(event.currentTarget).removeClass("on");
            // $(event.currentTarget).find(".menu").hide();
            $(event.currentTarget).find(".oneway").hide();    
        })
        
    </script>

    <script>

        $(function() {
            var count = 1;
            $(".right_btn").click( function() {
                $(".adultcnt").text(++count);
            });

            $(".left_btn").click( function() {
                if( count > 1 ){
                    $(".adultcnt").text(--count);
                }
            });
        });



        // let minus = document.querySelector(".left_btn");
        // let plus = document.querySelector(".right_btn");
        // let result = document.querySelector(".adultcnt");
        // let i = 1;

        // minus.addEventListener ( "click", () => {
        //     if( i > 0 ) {
        //         i--;
        //         result.textContent = i;

        //     } 
        // });

        // plus.addEventListener("click", () => {
        //     i++;
        //     result.textContent = i;            
        // })
        
        // function count(type)  {
        //     // 결과를 표시할 element
        //     const resultElement = document.getElementById('result');
            
        //     // 현재 화면에 표시된 값
        //     let number = resultElement.innerText;
            
        //     // 더하기/빼기
        //     if(type === 'plus') {
        //         number = parseInt(number) + 1;
        //     }else if(type === 'minus')  {
        //         number = parseInt(number) - 1;
        //     }
            
        //     // 결과 출력
        //     resultElement.innerText = number;
        // }
    </script>
  

    <!-- <script> 
        $("dates").daterangepicker({
            locale: {
            "separator": " ~ ",                     // 시작일시와 종료일시 구분자
            "format": 'YYYY-MM-DD HH:mm:ss',     // 일시 노출 포맷
            "applyLabel": "확인",                    // 확인 버튼 텍스트
            "cancelLabel": "취소",                   // 취소 버튼 텍스트
            "daysOfWeek": ["일", "월", "화", "수", "목", "금", "토"],
            "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"]
            },
            timePicker: true,                        // 시간 노출 여부
            showDropdowns: true,                     // 년월 수동 설정 여부
            autoApply: true,                         // 확인/취소 버튼 사용여부
            timePicker24Hour: true,                  // 24시간 노출 여부(ex> true : 23:50, false : PM 11:50)
            timePickerSeconds: true,                 // 초 노출 여부
            singleDatePicker: true                   // 하나의 달력 사용 여부

        })
        $(".dates").on('show.daterangepicker', function (ev, picker) {
            $(".yearselect").css("float", "left");
            $(".monthselect").css("float", "right");
            $(".cancelBtn").css("float", "right");
        });

    </script>
-->

  

</head>
<body>

    <div class="container">

        <!-- header -->        
        <div class="header">
            <div class="header_title">
                <h3>땡처리닷컴</h3>
            </div>

            <div class="header_menu">
                <a href="">
                    <span  class="menu"></span>                    
                </a>
                <!-- <button class="menu" type="button">메뉴</button> -->
            </div>
        </div>

        
        <div class="content">

            <div class="ticketing_box"> 

                <div class="way">  <!--왕복 및 편도 박스 -->
                    
                    <div class="way_top">  <!--왕복 및 편도 상단 -->

                        <ul class="way_txt">
                            <li class="m">
                                <a href=""> <!--왕복 on 시에 흰 줄 -->
                                <span >왕복(Return)</span>
                                </a>
                            </li>                          

                            <li class="m">
                                <a href="">
                                <span>편도(one way)</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="way_bottom"><!-- 왕복 및 편도 하단 -->
                        <div class="way_box">
                           <!-- <a href="#" onclick=""> MAIN('city'); return false; -->
                                
                                 <!-- 출발지 -->
                                <div class="way_depart"> 
                                    <a href="">
                                        <span class="code">GMP</span>
                                        <span class="way_txt">
                                            <span class="ko">김포</span>
                                        </span>
                                    </a>
                                </div>

                                <!-- 도착지 -->
                                <div class="way_arrive"> 
                                    <a href="">
                                        <span class="code">CJU</span>
                                        <span class="way_txt">
                                            <span class="ko">제주</span>
                                        </span>
                                    </a>
                                </div>

                                <a href="" class="inair_way return"> <!-- 왕복 onclick -->
                                    <!-- <img src="image/cityReturn.png" alt=""> -->
                                </a>

                                <a href="" class="oneway"> <!-- 편도 onclick -->
                                    <span></span>
                                </a>
                               
                                
                            </a>
                        </div>
                        
                    </div>

                </div>    

                <div class="date">

                   
                    <div class="dateBox">
                        <button class="date_btn" type="button">
                            <span>가는 날 ~ 오는 날</span>
                        </button>
                    </div> 

                    <div class="passengerBox"> <!--탑승객-->
                        <p class="passenger_label">탑승객</p>
                      
                        <div class="passenger">                   

                            <!-- 탑승객 인원 -->
                            <div class="pass_inner"> <!-- 성인 -->
                                <div class="pass_count">
                                    
                                    <div class="pass_left_ctrl">
                                        <button class="left_btn"></button>
                                    </div>
                                    <div class="pass_cnt_ctrl">
                                        <span class="adultcnt"></span>
                                    </div>
                                    <div class="pass_right_ctrl">
                                        <button class="right_btn"></button>
                                    </div>
                                    
                                    <!-- 
                                        <input type="number" class="adultcnt">
                                        <input type='button' onclick='count("minus")' value='-'  class="left_btn"/>
                                    <input type='button' onclick='count("plus")' value='+' class="right_btn"/>
                                     <div id='result'>1</div>-->
                                
                                    
                                </div>
                            </div>

                            <div class="pass_inner"> <!-- 소아 -->
                                <div class="pass_count">
                                    <!-- <button class="left_btn"></button>
                                    <span class="adultcnt"></span>
                                    <button class="right_btn"></button>
                                     -->
                                </div>
                            </div>

                            <div class="pass_inner"> <!-- 유아 -->
                                <div class="pass_count">
                                    <!-- <button class="left_btn"></button>
                                    <span class="adultcnt"></span>
                                    <button class="right_btn"></button>
                                     -->
                                </div>
                            </div>


                        </div>



                    </div>





                   

                </div>

               


                
            </div>

        </div>





    </div>

    <div class="notice_box">

        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="photo swiper-slide"><img src="image/1.jpg" class="itemImg">
                    <p>
                        <span class="notice_txt">보너스 혜택을 누려보세요!</span>
                    </p>
                </div>
                <div class="photo swiper-slide"><img src="image/2.jpg" class="itemImg">
                    <p>
                        <span class="notice_txt">Wi-Fi로 소중한 순간을 놓치지 마세요.</span>
                    </p>
                </div>
                <div class="photo swiper-slide"><img src="image/3.jpg" class="itemImg">
                    <p>
                        <span class="notice_txt">여행지별 입국요건을 지도에서 확인하세요.</span>
                    </p>
                </div>                        
                <div class="photo swiper-slide"><img src="image/4.jpg" class="itemImg">
                    <p>
                        <span class="notice_txt">땡처리닷컴의 매력적인 가이드</span>
                    </p>
                </div> 
            </div>
                     
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>            
        </div>




        <script>
            //스와이퍼
            const swiper = new Swiper('.swiper', {
    
                // Optional parameters
                direction: 'horizontal',
                loop: true,                        
                autoplay: { //자동재생
                delay: 5000,
                },                                             
                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },  
            });            
        </script>  

    </div>
    
    <div class="footer">

        <footer>

            <div class="bottom-wrap">
                <ul>
                    <li class="bottom_title">(주)땡처리닷컴</li>
                </ul>
                <ul class="bottom_txt">
                    <li>대표 : 편진웅, 신명근, 이진</li>
                    <li>사업자등록번호 104-81-61287</li>
                    <li>관광사업등록번호 국외 제2001-25호</li>
                    <li>통신판매업등록번호 제 03283호</li>                           
                    <li>서울시 중구 정동길 35 (두비빌딩 501호)</li>
                    <li>Copyright ⓒ 2005-2019 (주)땡처리닷컴 All rights reserved.</li>
                </ul>
            </div>

        </footer>
    </div>

</body>
</html>
                   <!--
                    <div class="date_inner">
                        <p class="date_txt">가는 날</p>
                       
                       
                        <a href="" class="date_depart">
                            <input type="date" name="dates">
                            <span class="date_depart_txt"></span>
                        </a>
                       
                    </div>-->
                    
                    <!-- <input type="" class="date_sel" name="dates"> -->
                   

                    <!-- <a href="#none" onclick="MAIN('date', 'departure'); return false;" class="bgWrap date_bg" data-date="2023-08-09">
                        <span class="txt fb">2023.08.09<span class="smHide">(수)</span></span>
                    </a> -->
 
                    <!-- 
                    <div class="date_inner">
                        <p class="date_txt">오는 날</p>
                        <a href=""> onclick
                            <span class="date_sel"></span>
                        </a>
                    </div>
                    <input type="" class="date_sel" name="dates"> -->
                    