<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta charset="utf-8">
  <title>땡처리닷컴 &gt; 국내항공</title>

  </script>
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/swiper.css">
  <link rel="stylesheet" href="css/map.css">
  <script src="JS/code.jquery.com_jquery-3.7.0.min.js"></script>
  <script type="text/javascript" src="/asset/js/plugin/jquery-1.11.1.min.js"></script>
  
  
  <script>

    $(function() {
        var count = 1;
        $(".right_btn").click( function() {
            $(".adultcnt").val(++count);
        });

        $(".left_btn").click( function() {
            if( count > 1 ){
                $(".adultcnt").val(--count);
            }
        });
    });
    
  </script>
  
  
</head>

<body class="TMv2_body airdoBody">
  <div class="TMv2_skip">
    <a href="#TMv2_contents">contents</a>
  </div>
  <div id="TMv2_wrapper" class="TMv2_wrapper">
    <script type="text/javascript" src="/common/header.do?isNoHeaderAgent=false"></script>
    <div class="TMv2_headerWrap">
      <link type="text/css" rel="stylesheet" href="http://mm.ttang.com/asset/css/font.css?v=20180830">
      <link type="text/css" rel="stylesheet" href="http://mm.ttang.com/asset/css/import.css?v=20180830">
      <link type="text/css" rel="stylesheet" href="http://mm.ttang.com/asset/js/plugin/jquery-1.11.1.min.js">
      <link type="text/css" rel="stylesheet" href="http://mm.ttang.com/asset/js/plugin/jquery.bpopup-0.11.0.min.js">
      <header id="search_head">
        <div class="head_wrap TMv2_header">
          <a>
            <span class="goback header_btn">dk</span>
            <img src="images/left_arrow_icon-1024x1024.png" class="goback img">
          </a>
          <h1 style="text-align: center;">국내항공</h1>
          <div>
            <a>
              <span class="search_menu header_btn">dk</span>
              <img src="images/icons8-xbox-menu-48.png" class="search_menu img">
            </a>
          </div>
        </div>
      </header>
      <script
        type="text/javascript">function __072_PROTOCOL_REPLACE(domain, to_protocol, is_change) { if (!is_change) return domain; var ret_value = domain; switch (to_protocol) { case "http": ret_value = ret_value.replace("https://", "http://"); break; case "https": ret_value = ret_value.replace("http://", "https://"); break; }	return ret_value; }</script>
    </div>
    <div class="TMv2_header_shadow"></div>
    <script type="text/javascript" src="//mm.ttang.com/asset/js/export/header_navi.js"></script>
    <script language="javascript" src="http://mm.ttang.com/common/headerNavi.do"></script>
    <div class="TMv2_nav" id="TMv2_nav" style="display:none;">
      <div class="innerWrap tyTotal">
        <div class="scrContWrap">
          <div class="navTop">
            <div class="util_MV2 logout"> <a href="http://mm.ttang.com/index.html" class="ico_noTxt home">home</a>
              <p class="txt">로그인 해주세요</p>
              <script type="text/javascript" src="https://mm.ttang.com/common/count/alarm.do" charset="utf-8"></script>
              <a href="http://mm.ttang.com/etc/alarm/list.do" class="ico_noTxt alarm ">setting</a> <a
                href="https://mm.ttang.com/member/setting.do" class="ico_noTxt setting">setting</a>
              <div class="btn"><a href="https://mm.ttang.com/member/login.do?fwd=aHR0cDovL21kb21haXIudHRhbmcuY29tLw=="
                  class="log">로그인 및 예약확인</a></div>
            </div>
          </div>
          <div class="navCont vMV2">
            <div class="bdrWrap">
              <h3 class="def mt0">메뉴 바로가기</h3>
              <ul class="menuList3 n3">
                <li> <a href="http://mm.ttang.com/ttangair/index.do" class="cateExair"> <span class="txt">해외항공</span>
                  </a> </li>
                <li> <a href="http://mdomair.ttang.com/inair/index.do" class="cateInair"> <span class="txt">국내항공</span>
                  </a> </li>
                <li> <a href="http://mm.ttang.com/exhotel/main.do" class="cateExhotel"> <span class="txt">해외호텔</span>
                  </a> </li>
                <li> <a href="http://mm.ttang.com/inhotel/main.do" class="cateInhotel"> <span class="txt">국내숙박</span>
                  </a> </li>
                <li> <a href="http://mm.ttang.com/product/pkg/index.do" class="catePack"> <span class="txt"> <span
                        class="wrapspan">해외패키지</span> </span> </a> </li>
                <li> <a href="http://mm.ttang.com/product/free/index.do" class="catePack"> <span class="txt"> <span
                        class="wrapspan">자유여행</span> </span> </a> </li>
                <li> <a href="http://mrentcar.ttang.com/exrentcar/index.do" class="cateRentcar"> <span class="txt">해외
                      렌트카</span> </a> </li>
                <li> <a href="http://mrentcar.ttang.com/rentcar/index.do" class="cateRentcar"> <span class="txt">제주도
                      렌트카</span> </a> </li>
                <li> <a href="http://mpasstour.ttang.com/passtour/index.do" class="cateTicket"> <span
                      class="txt">제주할인입장권</span> </a> </li>
                <li> <a href="http://mm.ttang.com/help/insurance/index.do" class="cateExair"> <span
                      class="txt">여행자보험</span> </a> </li>
              </ul>
            </div>
            <div class="bdrWrap pd0">
              <ul class="menuList2 tySm">
                <li><a href="http://mm.ttang.com/help/notice/list.do"><span>공지사항</span></a></li>
                <li><a href="http://mm.ttang.com/help/faq/list.do"><span>자주 묻는 질문</span></a></li>
                <li><a href="http://mm.ttang.com/etc/event/list.do"><span>기획전/이벤트</span></a></li>
                <li><a href="https://mm.ttang.com/etc/reqmail/view.do"><span>알리미신청</span></a></li>
              </ul>
            </div>
            <div class="bdrWrap">
              <div class="menuTxt">
                <p class="tit">땡처리닷컴 상담문의</p>
                <p class="tel"><a href="tel:02-3705-8833"><strong class="fc_red">02-3705-8833</strong></a></p>
                <p class="text">오전 9시~오후 6시(주말/공휴일 휴무)</p>
              </div>
            </div>
          </div>
        </div>
      </div> <a href="#none" class="close ico_noTxt" id="navClose">close</a>
    </div>
    <div class="dimmedLayer nav" style="display:none;"></div>
    <script src="http://mm.ttang.com/asset/js/dev/common/pub_navi.js"></script>
    <section class="TMv2_section" id="TMv2_section">


      <form id="inairForm" name="inairForm" method="post">
        <input type="hidden" name="tripType" value="RT">
        <input type="hidden" id="depAirport" name="depAirport" value="GMP">
        <input type="hidden" id="arrAirport" name="arrAirport" value="CJU">
        <input type="hidden" id="depAirportName" name="depAirportName" value="김포">
        <input type="hidden" id="arrAirportName" name="arrAirportName" value="제주">
        <input type="hidden" name="depDate" value="2023-08-10">
        <input type="hidden" name="arrDate" value="2023-08-12">
        <input type="hidden" name="fareClass">
        <input type="hidden" name="arrAirlineCode">
        <input type="hidden" id="dateType">
        <input type="hidden" id="costGubun" name="costGubun">
        <input type="hidden" id="minimumCnt" name="minimumCnt" value="1">
        <input type="hidden" id="cityChnFlag" name="cityChnFlag">
        <input type="hidden" id="chkStrDate" name="chkStrDate" value="2023-08-10">

        <div id="TMv2_contents" class="TMv2_contents">
          <div class="mainsearch cate_air">
            <fieldset>
              <div class="tabMenu tabStyLine1">
                <ul class="n2">
                  <li><a href="#" onclick="MAIN('tab', this);" class="on" data-triptype="RT"><span
                        class="fb">왕복</span>(Return)<!-- 왕복 --></a></li>
                  <li><a href="#" onclick="MAIN('tab', this);" data-triptype="OW"><span class="fb">편도</span>(one
                      way)<!-- 편도 --></a></li>
                </ul>
              </div>
              <div class="srchCont">
                <div class="optAirCityWrap">
                  <div class="innerWrap">
                    <div class="optAirCity abL">
                      <a href="#none" onclick="MAIN('city'); return false;">
                        <span class="code" id="view_dep_code">GMP</span>
                        <span class="tit shortCut">
                          <span class="txt" id="view_dep_name">김포</span>
                        </span>
                      </a>
                    </div>
                    <div class="optAirCity abR">
                      <a href="#none" onclick="MAIN('city'); return false;">
                        <span class="code" id="view_arr_code">CJU</span>
                        <span class="tit shortCut">
                          <span class="txt" id="view_arr_name">제주</span>
                        </span>
                      </a>
                    </div>
                    <a href="#none" onclick="MAIN('reverse'); return false;"
                      class="ico_noTxt icoSet_airCityWay ico_return">왕복<!-- 왕복 --></a>
                    <a href="#none" onclick="MAIN('reverse'); return false;"
                      class="ico_noTxt icoSet_airCityWay ico_oneway hide">편도<!-- 편도 --></a>
                  </div>
                </div>
                <div class="formSet">
                  <div class="formSetWrap n2 frst">
                    <div class="innerWrap">
                      <p class="tit">가는날<!-- 가는날 --></p>
                      <a href="#none" onclick="MAIN('date', 'departure'); return false;" class="bgWrap date_bg"
                        data-date="2023-08-10">
                        <span class="txt fb">2023.08.10<span class="smHide">(목)</span></span>
                      </a>
                    </div>
                    <div class="innerWrap">
                      <p class="tit">오는날<!-- 오는날 --></p>
                      <a href="#none" onclick="MAIN('date', 'arrival'); return false;" class="bgWrap date_bg"
                        data-date="2023-08-12">
                        <span class="txt fb">2023.08.12<span class="smHide">(토)</span></span>
                      </a>
                    </div>
                  </div>
                  <!-- 편도 -->
                  <div class="formSetWrap n1 frst hide">
                    <div class="innerWrap">
                      <p class="tit">가는날<!-- 가는날 --></p>
                      <a href="#none" onclick="MAIN('date', 'departure'); return false;" class="bgWrap date_bg"
                        data-date="2023-08-10">
                        <span class="txt fb">&nbsp;</span>
                      </a>
                    </div>
                  </div>
                  <div class="formSetWrap n3">
                    <div class="tooltipWrap n1" id="tip_passenger_notice">
                      <span class="tit">탑승객<!-- 탑승객 --></span>
                      <a href="#none" class="tooltipBtn ico_noTxt icoSet_noticebox">안내문<!-- 안내문 --></a>
                      <div class="tooltipCont" style="display:none;opacity:0;top:100px;">
                        <a href="#none" class="ico_noTxt toltipClose">닫기<!-- 닫기 --></a>
                        <ul class="listDef d3 bgDot">
                          <li>예약가능 <span class="fc_red">최대인원은
                              9명</span>입니다.<!-- 예약가능 <span class="fc_red">최대인원은 9명</span>입니다. --></li>
                          <li>유아의 인원수가 성인보다 많을 경우 예약이 불가합니다.<!-- 유아의 인원수가 성인보다 많을 경우 예약이 불가합니다. --></li>
                          <li>유아 인원 추가 시 성인은 꼭 포함되어야 합니다.<!-- 유아 인원 추가 시 성인은 꼭 포함되어야 합니다. --></li>
                          <li>유아 요금은 좌석이 제공되지 않습니다.<!-- 유아 요금은 좌석이 제공되지 않습니다. --></li>
                          <li>나이 제한은 <span class="fc_red">출발일/도착일
                              기준</span>입니다.<!-- 나이 제한은 <span class="fc_red">출발일/도착일 기준</span>입니다. --></li>
                        </ul>
                      </div>
                      <script>
                        /* 탑승객 툴팁 */
                        $(function () {
                          $('#tip_passenger_notice .tooltipBtn').click(function () {
                            var itemWrap = $(this).parent();
                            if ($(itemWrap).hasClass('on') == true) {
                              $(itemWrap).removeClass('on');
                              $('.tooltipCont').animate({ top: 100, opacity: 0 }, 400, function () { $(this).hide() });
                            }
                            else {
                              $(itemWrap).addClass('on');
                              $('.tooltipCont').show().animate({ top: 0, opacity: 1 }, 400);
                            }
                          });
                          $('#tip_passenger_notice .toltipClose').click(function () {
                            var itemWrap = $(this).parent().parent();
                            $(itemWrap).removeClass('on');
                            $('.tooltipCont').animate({ top: 100, opacity: 0 }, 400, function () { $(this).hide() });
                          });
                        });
                      </script>
                    </div>
                    <div class="innerWrap frst">
						
                      <div class="bgWrap countnum">
                        <input type="number" name="adultCnt" value="1" title="성인 인원" class="adultcnt fb"
                          readonly="readonly"><!-- 성인 인원 -->
                        <button type="button" class="ico_noTxt icoSet_countnum ico_numL left_btn" onclick="">-1</button>
                        <button type="button" class="ico_noTxt icoSet_countnum ico_numR right_btn">+1</button>
                        <!--<script>

					        $(function() {
					            var count = 1;
					            $(".right_btn").click( function() {
					                $(".adultcnt").val(++count);
					            });
					
					            $(".left_btn").click( function() {
					                if( count > 1 ){
					                    $(".adultcnt").val(--count);
					                }
					            });
					        });
					        
					      </script>-->
					</div>
                      <p class="comment"><span class="fb">성인<!-- 성인 --></span><span>(13세이상<!-- 12세이상 -->)</span></p>
                    </div>
                    <div class="innerWrap">
                      <div class="bgWrap countnum">
                        <input type="number" name="childCnt" value="0" title="소아 인원" class="fb"
                          readonly="readonly"><!-- 소아 인원 -->
                        <button class="ico_noTxt icoSet_countnum ico_numL">-1</button>
                        <button class="ico_noTxt icoSet_countnum ico_numR">+1</button>
                      </div>
                      <p class="comment"><span class="fb">소아<!-- 소아 --></span><span>(2~12세<!-- 2~12세 -->)</span></p>
                    </div>
                    <div class="innerWrap">
                      <div class="bgWrap countnum">
                        <input type="number" name="infantCnt" value="0" title="유아 인원" class="fb"
                          readonly="readonly"><!-- 유아 인원 -->
                        <button class="ico_noTxt icoSet_countnum ico_numL">-1</button>
                        <button class="ico_noTxt icoSet_countnum ico_numR">+1</button>
                      </div>
                      <p class="comment"><span class="fb">유아<!-- 유아 --></span><span>(2세 미만<!-- 2세 미만 -->)</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn_area n1">
                <span class="btnWrap"><button type="button" class="btn styA c_dgray" onclick="MAIN('search');">항공권
                    검색<!-- 항공권 검색 --></button></span>
              </div>
            </fieldset>
          </div><!-- // srch_air_main -->


          <!-- Slider main container -->
          <div class="rollingBnrimg swiper-container swiper-container-horizontal" style="text-align: center;">
            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-3840px, 0px, 0px);">
              <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next swiper-slide-prev"
                data-swiper-slide-index="0" style="width: 1920px;">
                <a href="">
                  <img src="images/20230522_banner.png" alt="" class="진에어">
                </a>
              </div>


              <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 1920px;">
                <a href="">
                  <img src="images/banner_20230703.png" alt="" class="진에어">
                </a>
              </div>

              <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 1920px;">
                <a href="">
                  <img src="images/banner_20220317.jpg" alt="" class="진에어">
                </a>
              </div>

            </div>
            <div class="swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">2</span> /
              <span class="swiper-pagination-total">3</span></div>
          </div>

          <script type="text/javascript" src="JS/swiper.js"></script>
          <script>

            var swiper = new Swiper('.swiper-container', {

              loop: true,
              autoplay: {
                delay: 2500,
                disableOnInteraction: false,
              },
              pagination: {
                el: '.swiper-pagination',
                type: 'fraction',
              },
            });
          </script>

          <div class="air_main noticeBox1">
            <ul class="list">
              <li><a href="#" onclick="MAIN('info003'); return false;">국내항공 결항시 대처방법</a></li>
              <li><a href="#" onclick="MAIN('info001'); return false;">취소 및 환불 시 항공사별 수수료
                  안내<!-- 취소 및 환불 시 항공사별 수수료 안내 --></a></li>
              <li><a href="#" onclick="MAIN('info004'); return false;">국내 항공권 환불 방법 안내<!-- 국내 항공권 환불 방법 안내 --></a></li>
              <li><a href="#" onclick="MAIN('info002'); return false;">항공권 수령 및 결제방법<!-- 항공권 수령 및 결제방법 --></a></li>
            </ul>
          </div><!-- noticeBox1 -->

          <!-- 인벤토리 항공권 171212 추가-->
          <!-- // 인벤토리 항공권 -->

          <script type="text/javascript">
            $('.inairInventory a.btnReserve').click(function (e) {
              e.preventDefault();
              $.ajax({
                url: './submain_ly_member.jsp'
              }).done(function (data) {
                $('.layerLoadWrapMini').html(data).bPopup({
                  position: ['auto', 'auto'],
                  spaceBetween: 20,
                  positionStyle: 'absolute',
                  amsl: 0
                });
              });
            });
          </script>
          <div class="layerLoadWrapMini"></div>

        </div><!-- contents -->
      </form>

      <form id="searchForm" name="searchForm" method="get">
        <input type="hidden" id="departure">
        <input type="hidden" id="arrival">
        <input type="hidden" id="pmdata">
        <input type="hidden" name="queryString" id="queryString">
        <input type="hidden" name="isNoHeaderAgent" id="isNoHeaderAgent" value="false">
      </form>

      <script type="text/javascript">
        var flightAreaMap = {};
        flightAreaMap['GMP'] = '김포';
        flightAreaMap['KUV'] = '군산';
        flightAreaMap['KWJ'] = '광주';
        flightAreaMap['TAE'] = '대구';
        flightAreaMap['PUS'] = '부산';
        flightAreaMap['RSU'] = '여수';
        flightAreaMap['ICN'] = '인천';
        flightAreaMap['WJU'] = '원주';
        flightAreaMap['USN'] = '울산';
        flightAreaMap['CJU'] = '제주';
        flightAreaMap['HIN'] = '진주';
        flightAreaMap['CJJ'] = '청주';
        flightAreaMap['KPO'] = '포항';
        flightAreaMap['MWX'] = '무안';
        flightAreaMap['YNY'] = '양양';
        var inairMap = {
          'KE': '대한항공',			//대한항공
          'OZ': '아시아나항공',			//아시아나항공
          'BX': '에어부산',			//에어부산
          'RS': '에어서울',			//에어서울
          'LJ': '진에어',			//진에어
          '7C': '제주항공',			//제주항공
          'ZE': '이스타항공',			//이스타항공
          'TW': '티웨이항공',			//티웨이항공
          '3P': '에어필립',				//에어필립
          'KX': '코리아 익스프레스 에어',	//코리아 익스프레스 에어
          '4V': '플라이강원'	//플라이강원
        };
        var weekendMap = [
          '일',
          '월',
          '화',
          '수',
          '목',
          '금',
          '토',
        ];

        //* 화면이 최초 로드될 때 호출되는 함수 *//
        $(document).ready(function () {
          MAIN("init");
          //	MAIN('connected_city');
        });

        //* MAIN 기본 함수 *//
        function MAIN(args, event) {
          if (!ISVALID(args)) return;

          switch (args) {
            case "init":
              //항공권 타이틀
              $("h1.tit").text('국내항공');

              //탑승객
              $('.icoSet_countnum').click(function (e) {
                e.preventDefault();
                var self = $(this),
                  parent = self.parent(),
                  input = parent.find('input');

                var count = eval(input.val() + self.text());
                input.val(count < 0 ? 0 : count);
                if (!ISVALID('search')) {
                  input.val(eval(count - self.text()));
                }
              });

              //데이터 초기화
              SETDATA('airport');
              SETDATA('tab');
              SETDATA('event');
              break;
            case "reverse":
              if ($("#arrAirport").val() != "") {
                var v_dep_airport = "", v_dep_airport_name = "";
                v_dep_airport = $("#depAirport").val();
                v_dep_airport_name = $("#depAirportName").val();

                $("#view_dep_code").text($("#arrAirport").val());
                $("#view_dep_name").text($("#arrAirportName").val());
                $("#view_arr_code").text(v_dep_airport);
                $("#view_arr_name").text(v_dep_airport_name);

                $("#depAirport").val($("#arrAirport").val());
                $("#depAirportName").val($("#arrAirportName").val());
                $("#arrAirport").val(v_dep_airport);
                $("#arrAirportName").val(v_dep_airport_name);
              }
              break;
            case "tab":
              var self = $(event);
              //탭변경
              $('.tabMenu a').removeClass('on');
              self.addClass('on');
              //아이콘변경
              var tabIdx = $('.tabMenu a').index(self);
              $('.icoSet_airCityWay').addClass('hide');
              $('.icoSet_airCityWay').eq(tabIdx).removeClass('hide');
              //여행타입변경
              $('input[name=tripType]').val(self.data('triptype'));
              //날짜필드변경
              $('.formSetWrap').not(':eq(2)').addClass('hide');
              $('.formSetWrap').eq(tabIdx).removeClass('hide');
              SETDATA('tab');
              break;
            case "city":
              $("#cityChnFlag").val('Y');
              objInfo.jqueryPopup.open('./popup/city.do');
              break;
            case "date":
              $('#dateType').val(event);
              objInfo.jqueryPopup.open('./popup/date.do');
              break;
            case "search":
              var isNoHeaderAgent = 'false';
              $('#queryString').val($('#inairForm').serializeJSON());
              if (isNoHeaderAgent == "true") {
                $('#searchForm').attr('action', './list_nh.do');
              } else {
                $('#searchForm').attr('action', './list.do');
              }
              $('#searchForm').submit();
              break;
            case "info001":
              objInfo.jqueryPopup.open('./popup/info001.do');
              break;
            case "info002":
              var isNoHeaderAgent = 'false';
              if (isNoHeaderAgent == "true") {
                objInfo.jqueryPopup.open('./popup/info002_nh.do');
              } else {
                objInfo.jqueryPopup.open('./popup/info002.do');
              }
              break;
            case "info003":
              var isNoHeaderAgent = 'false';
              if (isNoHeaderAgent == "true") {
                objInfo.jqueryPopup.open('./popup/info003_nh.do');
              } else {
                objInfo.jqueryPopup.open('./popup/info003.do');
              }
              break;
            case "info004":
              var isNoHeaderAgent = 'false';
              if (isNoHeaderAgent == "true") {
                objInfo.jqueryPopup.open('./popup/info004_nh.do');
              } else {
                objInfo.jqueryPopup.open('./popup/info004.do');
              }
              break;
            case "policy001":
              objInfo.jqueryPopup.open('./popup/policy001.do');
              break;
            case "policy002":
              objInfo.jqueryPopup.open('./popup/policy002.do');
              break;
            case "setting":
              SETDATA('setting', $(event));
              objInfo.jqueryPopup.open('./popup/setting.do', {
                position: ['auto', 'auto'],
                spaceBetween: 20,
                positionStyle: 'absolute',
                amsl: 0
              });
              break;
            case "reserve":
              var queryString = {
                departure: $.parseJSON($('#departure').val()),
                arrival: $('#arrival').val(),
                tripType: 'OW'
              };
              $('#queryString').val(JSON.stringify(queryString));
              $('#searchForm').attr('action', './reserveInventory.do');
              $('#searchForm').submit();
              break;
            case "agree":
              var queryString = {
                target: 'MB',
                applyDt: '2023-08-07',
                lang: 'ko',
                tripType: 'OW'
              };
              var departure = $.parseJSON($('#departure').val());
              var seg1 = {},
                seg2 = {};
              seg1.airlineCode = departure.airlineCode;
              seg1.fareClass = departure.fareClass;
              queryString.seg1 = seg1;
              queryString.seg2 = seg2;
              objInfo.jqueryPopup.open('./popup/fareAgree.do?queryString=' + JSON.stringify(queryString));
              break;
            case "submit":
              var queryString = {
                departure: $.parseJSON($('#departure').val()),
                arrival: $('#arrival').val(),
                tripType: 'OW'
              };
              $('#queryString').val(JSON.stringify(queryString));
              $('#searchForm').attr('action', './reserve.do');
              $('#searchForm').submit();
              break;
            case "connected_city":
              //ajax call
              objInfo.jqueryAjax.init();
              objInfo.jqueryAjax.async = true;
              objInfo.jqueryAjax.url = "./connectCityAct.do";
              objInfo.jqueryAjax.callback = args;
              objInfo.jqueryAjax.formName = "";
              objInfo.jqueryAjax.dataType = "xml"; //json or xml
              objInfo.jqueryAjax.callbackMethod = "AJAX_CALLBACK(objInfo.jqueryAjax.callback, objInfo.jqueryAjax.resultData);";
              objInfo.jqueryAjax.send("POST");
              break;
            default:
              alert("Invalid CALL!");
              break;
          }
        }
        //* validation 체크하기 위한 함수 *//
        function ISVALID(args) {
          switch (args) {
            case "search":
              var adultCnt = Number($('input[name=adultCnt]').val()),
                childCnt = Number($('input[name=childCnt]').val()),
                infantCnt = Number($('input[name=infantCnt]').val());
              var totalCnt = adultCnt + childCnt;
              if (totalCnt > 9) {
                alert('예약가능 최대인원은 9명입니다.');	//예약가능 최대인원은 9명입니다.
                return false;
              }
              if (childCnt > 0 && adultCnt == 0) {
                alert('보호자 비동반 탑승 불가합니다. 해당 항공사에 문의해주세요.');	//보호자 비동반 탑승 불가합니다. 해당 항공사에 문의해주세요.
                return false;
              }
              if (infantCnt > adultCnt) {
                alert('유아는 좌석이 별도 제공되지 않으므로, 성인보다 많이 탑승할 수 없습니다.');	//유아는 좌석이 별도 제공되지 않으므로, 성인보다 많이 탑승할 수 없습니다.
                return false;
              }
              if (adultCnt == 0) {
                $('input[name=adultCnt]').val('1');
              }
              break;
            default:
              break;
          }

          return true;
        }
        /**
        * 새창을 띄우거나 외부로 데이터를 보내기 위한 함수
        */
        function SETDATA(argTran, event) {
          //* 이동 화면으로 보낼 DATA SET *//
          var objmsg = new Object();
          objmsg.tran = argTran;
          switch (objmsg.tran) {
            case "airport":
              var departure = $('.optAirCity.abL'),
                arrival = $('.optAirCity.abR');
              $('input[name=depAirport]').val(departure.find('.code').text());
              $('input[name=depAirportName]').val(departure.find('.txt').text());
              $('input[name=arrAirport]').val(arrival.find('.code').text());
              $('input[name=arrAirportName]').val(arrival.find('.txt').text());
              break;
            case "tab":
              var tripType = $('input[name=tripType]').val();
              if (tripType == 'RT') {
                var date = $('.formSetWrap').eq(0);
                var depDate = date.find('a').first().data('date');
                var arrDate = date.find('a').last().data('date');
                $('input[name=depDate]').val(depDate);
                $('input[name=arrDate]').val(arrDate);
                date.find('span.txt').first().html(depDate.replace(/-/gi, '.') + '<span class="smHide">(' + weekendMap[new Date(depDate.replace(/-/gi, '/')).getDay()] + ')</span>');
                date.find('span.txt').last().html(arrDate.replace(/-/gi, '.') + '<span class="smHide">(' + weekendMap[new Date(arrDate.replace(/-/gi, '/')).getDay()] + ')</span>');
              } else {
                var date = $('.formSetWrap').eq(1);
                var depDate = date.find('a').first().data('date');
                $('input[name=depDate]').val(depDate);
                $('input[name=arrDate]').val('');
                date.find('span.txt').first().html(depDate.replace(/-/gi, '.') + '<span class="smHide">(' + weekendMap[new Date(depDate.replace(/-/gi, '/')).getDay()] + ')</span>');
              }
              break;
            case "event":
              var siteFareViewData = $.parseJSON('[]');
              if (siteFareViewData.length > 0) {
                $.each(siteFareViewData, function (index, list) {
                  if (index > 10) {
                    return false;
                  }
                  var html = '', trip_type_name = "";
                  var trip_type = list.tripType;
                  if (trip_type == "OW") {
                    trip_type_name = "편도";
                  } else {
                    trip_type_name = "왕복";
                  }
                  var depDate = list.depDate.substring(0, 4) + '-' + list.depDate.substring(4, 6) + '-' + list.depDate.substring(6);
                  var dep_depTime = "", dep_arrTime = "", flight_number = "";
                  if (list.depTime.length == 4) {
                    dep_depTime = list.depTime.substring(0, 2) + ':' + list.depTime.substring(2);
                  }
                  if (list.arrTime.length == 4) {
                    dep_arrTime = list.arrTime.substring(0, 2) + ':' + list.arrTime.substring(2);
                  }
                  var arrDate = "", arr_depTime = "", arr_arrTime = "", gv_condition = "";;
                  if (trip_type == "RT") {
                    trip_type_name = "왕복";
                    arrDate = list.arrDate.substring(0, 4) + '-' + list.arrDate.substring(4, 6) + '-' + list.arrDate.substring(6);

                    if (list.arrDepTime.length == 4) {
                      arr_depTime = list.arrDepTime.substring(0, 2) + ':' + list.arrDepTime.substring(2);
                    }
                    if (list.arrArrTime.length == 4) {
                      arr_arrTime = list.arrArrTime.substring(0, 2) + ':' + list.arrArrTime.substring(2);
                    }
                    flight_number += " / " + list.airlineCode + list.arrFlightNumber;
                  }

                  if (list.gvCondition > 1) {
                    gv_condition = " - " + list.gvCondition + "명이상";
                  }
                  html += '<div class="swiper-slide">';
                  html += '	<div class="ticketSty2 airdo">';
                  html += '		<div class="tit">';
                  html += '			<img class="logo" src="/images/common/airlinelogo_do/' + list.airlineCode + '.png" alt="logo">';
                  html += '			<span class="txt">' + inairMap[list.airlineCode] + gv_condition + '</span>';
                  html += '			<span class="seat"></span>';
                  html += '		</div>';
                  html += '		<div class="cont">';
                  html += '			<div class="wayWrap">';
                  html += '				<span class="way">';
                  html += '					<span class="city">' + flightAreaMap[list.depAirportCode] + '</span>';
                  html += '					<span class="icon ico_noTxt"></span>';
                  html += '					<span class="city">' + flightAreaMap[list.arrAirportCode] + '</span>';
                  html += '				</span>';
                  html += '				<p class="cate">' + trip_type_name + '</p>';
                  html += '			</div>';
                  html += '			<ul class="startWrap">';
                  html += '				<li class="date"><strong>가는날</strong>' + depDate.replace(/-/gi, '.').substring(5) + '(' + weekendMap[new Date(depDate.replace(/-/gi, '/')).getDay()] + ')' + dep_depTime + '</li>';
                  if (trip_type == "RT") {
                    html += '				<li class="date"><strong>오는날</strong>' + arrDate.replace(/-/gi, '.').substring(5) + '(' + weekendMap[new Date(arrDate.replace(/-/gi, '/')).getDay()] + ')' + arr_arrTime + '</li>';
                  } else {
                    html += '				<li class="date"><strong>오는날</strong>' + '편도항공권' + '</li>';
                  }
                  html += '			</ul>';
                  html += '			<p class="price">' + '<strong>{0}</strong>원'.replace('{0}', objInfo.jqueryCommon.numberWithCommas(list.fareAmtAdt + list.fareTaxAdt + list.fareFuelAdt)) + '</p>';
                  html += '		</div>';
                  html += '		<a href="#none" class="btnReserve" onclick="MAIN(\'setting\', $(this));"';
                  html += '			data-groupId="' + list.groupId + '"';
                  html += '			data-fareId="' + list.fareId + '"';
                  html += '			data-supcompanyid="' + list.supCompanyId + '"';
                  html += '			data-seatgubun="' + list.seatGubun + '"';
                  html += '			data-flightnumber="' + list.flightNumber + '"';
                  html += '			data-fareclass="' + list.fareClass + '"';
                  html += '			data-depdate="' + list.depDate + '"';
                  html += '			data-deptime="' + list.depTime + '"';
                  html += '			data-arrtime="' + list.arrTime + '"';
                  html += '			data-flighttime=""';
                  html += '			data-availseatcount="' + (list.seatSupCnt - list.seatDivCnt) + '"';
                  html += '			data-currencycode="KRW"';
                  html += '			data-adultfareamount="' + list.fareNetAdt + '"';
                  html += '			data-childfareamount="' + list.fareNetChd + '"';
                  html += '			data-infantfareamount="' + list.fareNetInf + '"';
                  html += '			data-adultfaretax="' + list.fareTaxAdt + '"';
                  html += '			data-childfaretax="' + list.fareTaxChd + '"';
                  html += '			data-infantfaretax="' + list.fareTaxInf + '"';
                  html += '			data-adultfarefuel="' + list.fareFuelAdt + '"';
                  html += '			data-childfarefuel="' + list.fareFuelChd + '"';
                  html += '			data-infantfarefuel="' + list.fareFuelInf + '"';
                  html += '			data-airlinecode="' + list.airlineCode + '"';
                  html += '			data-airlinename="' + inairMap[list.airlineCode] + '"';
                  html += '			data-depairport="' + list.depAirportCode + '"';
                  html += '			data-arrairport="' + list.arrAirportCode + '"'
                  html += '			data-minimumCnt="' + list.gvCondition + '"';;
                  html += '			data-depairportname="' + flightAreaMap[list.depAirportCode] + '"';
                  html += '			data-arrairportname="' + flightAreaMap[list.arrAirportCode] + '">';
                  html += '			예약하기';
                  html += '		</a>';
                  html += '	</div>';
                  html += '</div>';
                  $('#siteFareViewInfo').append(html);
                });
                if (typeof inventorySwiper !== 'undefined') {
                  inventorySwiper.update(false);
                }
              }
              break;
            case "setting":
              $('#minimumCnt').val(event.attr('data-minimumCnt'));
              $('#costGubun').val('INVENTORY');
              var departure = {
                airlineCode: event.attr('data-airlinecode'),
                airlineCodeShare: '',
                groupId: event.attr('data-groupId'),
                fareId: event.attr('data-fareId'),
                depAirportName: event.attr('data-depairportname'),
                arrAirportName: event.attr('data-arrairportname'),
                depAirport: event.attr('data-depairport'),
                arrAirport: event.attr('data-arrairport'),
                depDate: event.attr('data-depdate'),
                depTime: event.attr('data-deptime'),
                arrTime: event.attr('data-arrtime'),
                adultCnt: 0,
                childCnt: 0,
                infantCnt: 0,
                flightNumber: event.attr('data-flightnumber'),
                availSeatCount: Number(event.attr('data-availseatcount')),
                fareClass: event.attr('data-seatgubun'),
                fareAmount: Number(event.attr('data-adultfareamount')),
                fareFuel: Number(event.attr('data-adultfarefuel')),
                fareTax: Number(event.attr('data-adultfaretax')),
                pmdata: ''
              };
              $('#departure').val(JSON.stringify(departure));

              /*
              extra1 : INVENTORY,공급사아이디(SUP_COMPANY_ID)
            extra2: 출발시간(HH24:mi),좌석구분(SEAT_GUBUN)
              */
              var pmdata = {
                flightNumber: event.attr('data-flightnumber'),
                fareClass: event.attr('data-fareclass'),
                depTime: event.attr('data-deptime'),
                arrTime: event.attr('data-arrtime'),
                flightTime: '',
                availSeatCount: Number(event.attr('data-availseatcount')),
                currencyCode: 'KRW',
                adultFareAmount: Number(event.attr('data-adultfareamount')),
                childFareAmount: Number(event.attr('data-childfareamount')),
                infantFareAmount: Number(event.attr('data-infantfareamount')),
                adultFareTax: Number(event.attr('data-adultfaretax')),
                childFareTax: Number(event.attr('data-childfaretax')),
                infantFareTax: Number(event.attr('data-infantfaretax')),
                adultFareFuel: Number(event.attr('data-adultfarefuel')),
                childFareFuel: Number(event.attr('data-childfarefuel')),
                infantFareFuel: Number(event.attr('data-infantfarefuel')),
                extra1: 'INVENTORY,' + event.attr('data-supcompanyid'),
                extra2: event.attr('data-deptime') + ',' + event.attr('data-seatgubun')
              };
              $('#pmdata').val(JSON.stringify(pmdata));

              //운임규정 및 안내동의
              var html = '';
              html += '<a href="#none" class="airScdInfo"';
              html += '	data-airlinecode="' + event.attr('data-airlinecode') + '"';
              html += '	data-airlinename="' + event.attr('data-airlinename') + '"';
              html += '	data-depairportname="' + event.attr('data-depairportname') + '"';
              html += '	data-arrairportname="' + event.attr('data-arrairportname') + '"';
              html += '	예약하기';
              html += '</a>';
              $('.resultFooterWrap').html(html);
              break;
            default:
              break;
          }
        }
        /**
        * 외부에서 데이터를 받아서 처리하는 함수
        */
        function GETDATA(objmsg) {
          var d = document.data;

          switch (objmsg.tran) {
            default:
              alert("Invalid CALL!");;
              return false;
              break;
          }
        }
        //* AJAX 호출후 메소트 호출 *//
        function AJAX_CALLBACK(method, resultData) {
          var arrHeadData = resultData[0];
          var arrResultData = resultData[1];

          var isError = arrHeadData[0]["error"];
          if (isError == true || isError == "true") {
            alert(arrHeadData[0]["message"]);
            return;
          }

          switch (method) {
            case "reserve":
              if (arrResultData.length > 0) {
                if ("SUCCESS" == arrResultData[0]["RESULT"]) {
                  var data = $.parseJSON(arrResultData[0]["MESSAGE"]);
                  var status = data.status,
                    request = data.request,
                    response = data.response;

                  var departure = $.parseJSON($('#departure').val());
                  departure.pmdata = response.pmdata;
                  if (request.availSeatCount < departure.adultCnt + departure.childCnt) {
                    alert("잔여좌석보다 많은 인원은 예약을 진행할 수 없습니다.\n최대 잔여좌석만큼 예약을 진행해 주세요.");
                    return false;
                  }

                  if (status.code == 'OK') {
                    var adultTotalAmount = (request.adultFareAmount + request.adultFareFuel + request.adultFareTax) * departure.adultCnt,
                      childTotalAmount = (request.childFareAmount + request.childFareFuel + request.childFareTax) * departure.childCnt,
                      infantTotalAmount = (request.infantFareAmount + request.infantFareFuel + request.infantFareTax) * departure.infantCnt,
                      fareTotalAmount = adultTotalAmount + childTotalAmount + infantTotalAmount;
                    departure.fareTotalAmount = fareTotalAmount;

                    $('#departure').val(JSON.stringify(departure));
                    MAIN('agree');
                  } else {
                    alert(status.desc);
                  }
                } else {
                  alert(arrResultData[0]["MESSAGE"]);
                }
              }
              //Ajax loading end
              objInfo.jqueryLoading.search(false);
              break;
            case "connected_city":
              var city_cd = arrResultData[0]["CITY_CODE"];
              var city_name = arrResultData[0]["CITY_NAME"];

              if (city_cd != "" && (city_cd == "PUS" || city_cd == "TAE" || city_cd == "CJJ" || city_cd == "KWJ" || city_cd == "RSU") && $("#cityChnFlag").val() != "Y") {
                $("#view_dep_code").text(city_cd);
                $("#view_dep_name").text(city_name);
                $("#depAirport").val(city_cd);
                $("#depAirportName").val(city_name);
              }
              break;
            default:
              alert("Invalid CALL!");
              break;
          }
        }
      </script>

      <script>
        var V_GOOGLE_TAG_ID = "mappair";
        if (document.location.href.indexOf("mdomair.ttang.com") > 0) V_GOOGLE_TAG_ID = "mdomair";
      </script>
      <script>
        (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', ("mappair" == V_GOOGLE_TAG_ID) ? "UA-115744964-1" : "UA-144023094-1", 'auto');
        ga('send', 'pageview');
      </script>
      <script>
        var V_GOOGLE_ID_GA4 = ("mappair" == V_GOOGLE_TAG_ID) ? "G-8MNXZJTP5C" : "G-RLFW7SW0S7";
        document.write('<' + 'script async src="https://www.googletagmanager.com/gtag/js?id=' + V_GOOGLE_ID_GA4 + '"'+'><'+'/script'+'>');
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", V_GOOGLE_ID_GA4);
      </script>
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-RLFW7SW0S7"></script>
      <script>
      !function (f, b, e, v, n, t, s) {
          if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
          };
          if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
          n.queue = []; t = b.createElement(e); t.async = !0;
          t.src = v; s = b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
          'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1650048995237007');
        fbq('track', '국내항공:메인');
      </script>
      <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=1650048995237007&ev=국내항공:메인&noscript=1" /></noscript>
      <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
      <script type="text/javascript">
        if (!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "s_93a67f957ff";
        if (!_nasa) var _nasa = {};
        wcs.inflow("ttang.com");
        wcs_do(_nasa);
      </script>
    </section>

    <footer style="text-align: center;"><!-- 푸터는 모든 페이지 공통사항 -->
    
      <div id="linkList">
        <span><a href="#">예약확인</a></span>
        <span><a href="#">땡처리닷컴</a></span>
        <span><a href="#">개인정보처리방침</a></span>
      </div>
  
      <div id="innerWrap">
        <div><a><span>땡처리닷컴 고객센터 전화 안내</span></a></div>
        <p>
          <span>팀원 : 이진, 신명근, 편진웅</span>
          <span>사업자등록번호 123-45-67890</span>
        </p>
        <p>관광사업등록번호 국외 제 2001-25호</p>
        <p>통신판매업등록번호 제 12345호</p>
        <p>서울시 중구 테헤란로 7길 7 (에스코빌딩 704호)</p>
        <p>Copyright choongang coding (주)중앙코딩 All rights reserved.</p>
      </div>
  
    </footer>
    <script type="text/javascript" src="/asset/js/dev/common/pub_comm.js"></script>
    <script type="text/javascript" src="/asset/js/plugin/jquery.bpopup-0.11.0.min.js"></script>
    <script type="text/javascript" src="/asset/js/jquery-utils.js"></script>
    <script type="text/javascript" src="/asset/js/dev/common/jquery.serialize-object.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/common/footer.do"></script>
    <script type="text/javascript" src="//mm.ttang.com/asset/js/export/footer.js"></script>
    <script language="javascript" src="http://mm.ttang.com/common/footer.do"></script>
    <script
      type="text/javascript">/* contents > min-height */$(window).load(function () { contAddH(); }); $(window).resize(function () { contAddH(); }); function contAddH() { if ($(window).height() > $("body").height()) { $(".TMv2_section").css("min-height", $(window).height() - $(".TMv2_headerWrap").height() - $(".TMv2_footer").height()); } }</script>

    <script>
      /**
      var v_google_ua_id = document.location.href.indexOf("mappair.ttang.com") > 0 ? "UA-115744964-1" : 
                      (document.location.href.indexOf("mdomair.ttang.com") > 0 ? "UA-144023094-1" : "");
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', v_google_ua_id, 'auto');
      ga('send', 'pageview');
      */
    </script>
  </div>
  <div class="layerLoadWrap"></div>
  <div class="layerLoadWrap3"></div>

  <div id="id_popup_inair_main" class="popupBtm" style="display:none;">
    <div class="imgOnly">
      <div class="bgWrap">
        <a href="/help/notice/list.do?bbsId=4741" class="link">
          <div class="photo">
            <img class="img" src="/html/event/inair/notice/NtsAirPop_210105_2.jpg" alt="결항공지">
          </div>
        </a>
        <div class="btmClose">
          <a href="javascript:;" class="tl" onclick="objNoticeInfo.noticeInfo.close('once');">오늘 하루 그만보기</a>
          <a href="javascript:;" class="tr bClose">닫기</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/asset/js/notice.js?v=20230807"></script>
  <script type="text/javascript">
    $(window).load(function () {
      objNoticeInfo.noticeInfo.popup_Id = "id_popup_inair_main";
      //objNoticeInfo.noticeInfo.init(false); //공지띄울지 여부(true or false)

      //날짜를 지정시에는 아래와 같이 사용하면 됩니다.
      var v_current_time = getCurrentTime();
      //if(201910011730 <=v_current_time && v_current_time <= 201910140900)
      {
        objNoticeInfo.noticeInfo.init(true); //공지띄울지 여부(true or false)
      }
    });
  </script>
  <script type="text/javascript" src="/common/menu.do"></script>
  <div class="TMv2_nav" id="TMv2_nav" style="display:none;">
    <div class="innerWrap tyTotal">
      <div class="scrContWrap">
        <div class="navTop">
          <div class="util"> <a href="//mdomair.ttang.com/main/index.do" class="ico_noTxt home">home</a> <a
              href="//mdomair.ttang.com/member/login.do" class="log">로그인 및 예약확인</a> <a
              href="//mdomair.ttang.com/mypage/member/setting.do" class="ico_noTxt setting">setting</a> </div>
          <div class="welcome">회원/비회원 로그인해 주세요!</div>
          <div class="menuSty1 num">
            <ul class="n1">
              <li>&nbsp;</li>
            </ul>
          </div>
        </div>
        <div class="navCont">
          <ul class="menuList1">
            <li><a href="//mdomair.ttang.com/inair/index.do" class="cateAir"><span>항공권</span></a></li>
            <li><a href="//mdomair.ttang.com/inhotel/main.do" class="cateHotel"><span>국내숙박</span></a></li>
            <li><a href="http://mapprentcar.ttang.com/rentcar/index.do" class="cateRentcar"><span>렌터카</span></a></li>
            <li><a href="http://mapppasstour.ttang.com/index.jsp" class="cateTicket"><span>티켓&amp;입장권</span></a></li>
          </ul>
          <div class="menuBtn1">
            <div class="btn_area n1 pd"> <span class="btnWrap n1"><a href="//mdomair.ttang.com/help/bbs/faqList.do"
                  class="btn styD c_rgrayLine"><strong>자주 묻는 질문</strong></a></span> <span class="btnWrap n2 "><a
                  href="//mdomair.ttang.com/etc/event/list.do"
                  class="btn styD c_red"><strong>기획전/이벤트</strong></a></span>
              <!-- <span class="btnWrap n2"><a href="/help/inair/qnaList.do" class="btn styD c_rgrayLine"><strong>1:1 문의</strong></a></span> -->
            </div>
          </div>
          <div class="menuTxt Addr">
            <p class="tit">땡처리닷컴 상담문의</p>
            <p class="tel"><a href="tel:02-3705-8833"><strong class="fc_red">02-3705-8833</strong></a></p>
            <p class="text">오전 9시~오후 6시(주말/공휴일 휴무)</p>
          </div>
          <div class="logo"> <img src="//mm.ttang.com/images/common/logo/menuFootLogo.png" alt="땡처리닷컴"> </div>
        </div>
      </div>
    </div> <a href="#none" class="close ico_noTxt" id="navClose">close</a>
  </div>
  <div class="dimmedLayer nav" style="display:none;"></div>
  <script src="/asset/js/dev/common/pub_navi.js"></script>
  <script type="text/javascript" src="/asset/js/dev/common/pub_comm.js?v=20191220"></script>
  <script type="text/javascript" src="/asset/js/plugin/jquery.bpopup-0.11.0.min.js"></script>
  <script type="text/javascript" src="/asset/js/jquery-utils.js?v=20191220"></script>
  <script type="text/javascript" src="/asset/js/dev/common/jquery.serialize-object.min.js"></script>
  <script type="text/javascript">
    var isNoHeaderAgent = 'false';
    if (isNoHeaderAgent == "true") {
      function setHeight() {
        var body = document.body, html = document.documentElement;
        var height = Math.max(body.scrollHeight, body.offsetHeight,
          html.clientHeight, html.scrollHeight, html.offsetHeight);
        parent.postMessage({ "FrameHeight": height }, "*");
      }
      window.onload = setHeight();
      setInterval(setHeight, 500);
    }
  </script>

</body>

</html>