<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	타임리프 제어문 if문 unless문에는 동일한 조건을 작성.
	
	<div th:with="a=10">
		
		<span th:if="${a==20}">a는 20입니다</span>
		<span th:unless="${a==20}">a는 20이 아닙니다</span>
		
	</div>
	
	<hr/>
	vo의 참조
	<div th:if="${vo.first == 'mong'}">mong 입니다</div>
	<div th:unless="${vo.first == 'mong'}">mong이 아닙니다</div>
	
	<hr/>
	삼항연산자
	
	<div>[[${vo.first == 'moong' ? 'moong' : 'mong이 아닙니다'}]]</div>
	
	<hr/>
	타임리프의 반복문
	
	<ul>		
		<li th:each="vo : ${list}">
			[[${vo.sno}]]<br/>
			[[${vo.first}]]<br/>
			[[${vo.regdate}]]<br/>			
		</li>		
	</ul>
	
	<hr/>
	타임리프 반복문의 status 변수
	
	<ul>		
		<li th:each="vo, status : ${list}">
			[[${status}]]<br/>
			인덱스번호: [[${status.index}]]<br/>
			순서번호: [[${status.count}]]<br/>
		</li>		
	</ul>
	
	
	<hr/>
	타임리프 반복문과 if문	
	
	<ul>		
		<li th:each="vo : ${list}" th:if="${vo.sno % 2 == 0}">
			
			짝수만 출력됨: [[${vo.sno}]]			
			
		</li>		
	</ul>
	
	<hr/>
	
	<ul>		
		<li th:each="vo : ${list}">
			<span th:if="${vo.sno % 2 == 0 }">짝수</span>					
		</li>		
	</ul>
	
	
	
	<hr/>
	
	<ul>		
		<li th:each="vo : ${list}" ><!--th:if="${vo.sno % 2 == 0}"-->
			<span th:if="${vo.sno % 2 == 0 }">짝수</span>			
			<span th:unless="${vo.sno % 2 == 0 }">홀수</span>		
		</li>		
	</ul>
	
	
	

</body>
</html>