<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	타임리프 include<br/>
	replace 경로 참조시는 ~{경로 :: 조각이름}
	
	<!--파일경로는 include 안에.. 절대경로로 작성-->
	<div th:replace="~{/include/layout01 :: part1}"></div>
	<th:block th:replace="~{/include/layout01 :: part2}"></th:block>

	
	<h3>파일을 통째로 가져오기</h3>
	<!--replace가 include를 대체하게 된다.-->
	<th:block th:replace="~{/include/layout02}"></th:block>

	
</body>
</html>